.mixin.out
.probe
.vscode/probejs.code-snippets
config
!config/ftbquests
!config/jei/blacklist.json
!config/xaero/minimap
!config/alexsmobs-common.toml
!config/ars_additions-common.toml
!config/ars_additions-server.toml
!config/ars_nouveau-client.toml
!config/ars_nouveau-common.toml
!config/ars_nouveau-server.toml
!config/badmobs-common.toml
!config/fjc-common.toml
!config/iris.properties
!config/item_obliterator.json5
!config/ponder-client.toml
!config/reap-server.toml
!config/sophisticatedstorage-server.toml
!config/veinmining-server.toml
crash-reports
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
ftbbackups3
kubejs/client_scripts/jsconfig.json
kubejs/config
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/package.json
kubejs/README.txt
local
logs
mods
pack-management-scripts/mod-db.json
saves
xaero
XaeroWaypoints_BACKUP*
.curseclient
command_history.txt
minecraftinstance.json
modlist.html
usercache.json
usernamecache.json
